.holder
{
    width:400px;
    height:500px;
    position:relative;
    margin:0 auto;
    overflow:hidden;
}

.scoreBoard
{
    width:200px;
    height:60px;
    position:relative;
    margin:0 auto;
    overflow:hidden;
    text-align:center;
    color: Red;
    font-size:x-large;
    font-weight:bolder;
    font-family:Arial;
    
}
.controlBoard
{
    width:200px;
    height:40px;
    position:relative;
    margin:0 auto;
    overflow:hidden;
}
.container 
{
    width:400px;
    height:400px;
    position:relative;
    overflow:hidden;
    margin:0 auto;
    border-style:none;
    cursor:pointer;
}
.box
{
    width:100px;
    height:100px;
    background-color:Black;
    position:absolute;
    overflow:hidden;
    color: #4F4F4F;
    font-size:xx-large;
    font-weight:bolder;
    font-family:Arial;
    text-align:center;
    line-height:100px;
    cursor:pointer;
}
.resetButton
{
    width:200px;
    height:30px;
    position:relative;
    border-style:none;
    background-color:Red;
    font-size:x-large;
    font-weight:bolder;
    font-family:Arial;
    color: #4F4F4F;
    text-align:center;
    line-height:30px;
    cursor:pointer;
}
