.container 
{
    width:400px;
    height:400px;
    background-color:Gray;
    color:White;
    position:relative;
    overflow:hidden;
    margin:0 auto;
}
.box
{
    width:100px;
    height:100px;
    background-color:Black;
    position:absolute;
    overflow:hidden;
    border:1px solid Red;
    color: Red;
    font-size:xx-large;
    text-align:center;
    line-height:100px;
    
}